@charset "utf-8";

body{font-family: 'Sofia Pro';background-color: #1d1d1d;}

.box{width: 100%; padding: 100px 0 0 0;
    .container{ width: 1060px; margin: 0 auto;
        h1{font-weight: 500;font-size: 50px; color: #ffffff; text-align: center; margin: 0 0 30px 0;}

        .tabMenu{width: 100%;
            .tabButtons{width: 100%;overflow: hidden;
                ul{display: flex; width: 100%;
                    li{font-weight: 500; font-size: 24px; line-height: 30px; background-color: #474DFF; color: #ffffff; position: relative; padding: 20px 30px; cursor: pointer;
                        &:first-child{border-radius: 8px 0 0 0;}
                        &:last-child{border-radius: 0 8px 0 0;}
                        &:nth-child(1n+2){background-color: #A334FB;}
                        &:nth-child(1n+3){background-color: #0ACF83}
                        &.active{background-color: #353535;}
                    }
                }
            }
            .tabTexts{width: 100%;
                ul{ width: 100%;
                    li{display: none; font-weight: 300; font-size: 18px; line-height: 28px; background-color: #353535; color: #ffffff; border-radius: 0 0 8px 8px; padding: 20px 30px;
                        &.active{display: flex;}
                    }
                }
            }
        }

        .devLinkBox{width: 100%; display: flex; justify-content: center; padding: 30px 0;
            a{font-weight: 500; color: #ffffff; font-size: 20px; line-height: 26px;}
        }
    }
}

@media screen and (max-width: 1199px){
    .box{
        .container{ width: 100%; padding: 0 30px;}
    }
}
@media screen and (max-width: 991px){
    .box{padding: 75px 0 0 0;
        .container{
        h1{font-size: 40px;}
            .tabMenu{
                .tabButtons{
                    ul{
                        li{font-size: 20px; line-height: 26px;padding: 15px 25px;}
                    }
                }
                .tabTexts{
                    ul{
                        li{font-size: 16px; line-height: 26px; padding:15px 25px;}
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .box{padding: 50px 0 0 0;
        .container{padding: 0 15px;
            h1{font-size: 30px;}
            .tabMenu{
                .tabButtons{
                    ul{
                        li{font-size: 18px; line-height: 24px; padding:15px 20px;width: 100%;}
                    }
                }
                .tabTexts{
                    ul{
                        li{font-size: 14px; line-height: 24px; padding:15px 20px;}
                    }
                }
            }
        }
    }
}